/* for the two hide-ables */
.show p, .show button{
    visibility:hidden;
}
.show iframe{
    visibility:visible;
    height:800;
}

.noShow p, .noShow button{
    visibility:visible;
}
.noShow iframe{
    visibility:hidden;
    height:0;
}
/* for the hideall button */
.hide{
    visibility:hidden;
}
.showing{
    visibility:visible;
}

div{
    border-style: dotted;
}