.show p, button{
    visibility:hidden;
}
.show iframe{
    visibility:visible;
}

.noShow p, button{
    visibility:visible;
}
.noShow iframe{
    visibility:hidden;
}
.hide{
    visibility:hidden;
}
.show{
    visibility:visible;
}

div{
    border-style: dotted;
}